[Unit]
Description=GOcontroll remote update agent
After=network.target time-sync.target
Wants=time-sync.target

[Service]
Type=simple
ExecStart=/usr/local/bin/go-deploy
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=go-deploy

[Install]
WantedBy=multi-user.target
